apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../manager-base

patches:
- path: manager_worker_image_patch.yaml
- path: manager_config_patch.yaml

images:
- name: controller
  newName: quay.io/edge-infrastructure/kernel-module-management-operator
  newTag: release-2.5
- name: worker
  newName: quay.io/edge-infrastructure/kernel-module-management-worker
  newTag: release-2.5
