---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - apps
  resources:
  - daemonsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - watch
- apiGroups:
  - build.openshift.io
  resources:
  - builds
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - watch
- apiGroups:
  - cluster.open-cluster-management.io
  resources:
  - clusterclaims
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - cluster.open-cluster-management.io
  resourceNames:
  - kernel-versions.kmm.node.kubernetes.io
  resources:
  - clusterclaims
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  - nodes
  verbs:
  - get
  - list
  - patch
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  - serviceaccounts
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - image.openshift.io
  resources:
  - imagestreams
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - kmm.sigs.x-k8s.io
  resources:
  - bootmoduleconfigs
  - preflightvalidations
  - preflightvalidationsocp
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kmm.sigs.x-k8s.io
  resources:
  - bootmoduleconfigs/finalizers
  - nodemodulesconfigs/finalizers
  - preflightvalidations/finalizers
  - preflightvalidationsocp/finalizers
  verbs:
  - patch
  - update
- apiGroups:
  - kmm.sigs.x-k8s.io
  resources:
  - modulebuildsignconfigs
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kmm.sigs.x-k8s.io
  resources:
  - modulebuildsignconfigs/finalizers
  - moduleimagesconfigs/finalizers
  - modules/finalizers
  verbs:
  - update
- apiGroups:
  - kmm.sigs.x-k8s.io
  resources:
  - modulebuildsignconfigs/status
  - moduleimagesconfigs/status
  - modules/status
  - preflightvalidations/status
  - preflightvalidationsocp/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kmm.sigs.x-k8s.io
  resources:
  - moduleimagesconfigs
  - nodemodulesconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - watch
- apiGroups:
  - kmm.sigs.x-k8s.io
  resources:
  - modules
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kmm.sigs.x-k8s.io
  resources:
  - nodemodulesconfigs/status
  verbs:
  - patch
- apiGroups:
  - machineconfiguration.openshift.io
  resources:
  - machineconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - networkpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - networkpolicies/finalizers
  verbs:
  - patch
  - update
- apiGroups:
  - operator.openshift.io
  resources:
  - machineconfigurations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
