#!/bin/bash
if podman image exists {{.Image}}; then
    echo "Image {{.Image}} found in the local registry.Nothing to do"
else
    echo "Image {{.Image}} not found in the local registry, pulling"
    podman pull --authfile /var/lib/kubelet/config.json {{.Image}}
    if [ $? -eq 0 ]; then
        echo "Image {{.Image}} has been successfully pulled, rebooting.."
        reboot
    else
        echo "Failed to pull image {{.Image}}"
    fi
fi
